 [flake8]
 max-line-length = 160
 extend-ignore = E203,W503
 exclude =
     .git,
     .venv,
     venv,
     build,
     dist,
     node_modules,
     htmlcov,
     .pytest_cache,
     src/backend/**/migrations/*
